
  <!-- Footer Section Begin -->
  <footer class="footer">
      <div class="container">
          <div class="footer__top">
              <div class="row">
                  <div class="col-lg-8 col-md-6">
                      <div class="footer___subscribe">
                          <div class="footer__subscribe__text">
                              <h4>SEND YOUR SUGGESTIONS</h4>
                              <p>We'll get back to you as soon as possible</p>
                          </div>
                          <div class="footer__subscribe__form">
                              <form action="mailto:nishantdave.oyeindia@gmail.com" method="post">
                                  <input type="text" name="Name" placeholder="Your suggestions..">
                                  <button type="submit"><i class="fa fa-send-o"></i></button>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="footer__social">
                        <a href="https://www.facebook.com/Oye.org" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://in.linkedin.com/company/oye-organization-for-youth-elderly?trk=public_profile_topcard_current_company" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/oyeindia/" target="_blank"><i class="fa fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="footer__logo">
                      <a href="http://www.oyeindia.org"><img src="img/oyelogo.jpg" style="height:100px" alt=""></a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="footer__widget">
                      <h5><i class="fa fa-phone"></i> Phone & email</h5>
                      <ul>
                          <li>contact@oye.org</li>
                          <li>+91 9920132153</li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="footer__widget">
                      <h5><i class="fa fa-map-marker"></i> Locate Us</h5>
                      <p><span>OYE Headquarters,Sahakar Nagar,JP Road,Andheri West</span>Mumbai,Maharashtra 400053,IN</p>
                  </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="footer__widget">
                      <h5>About OYE</h5>
                      <p>  OYE, as an NGO, stands out due its peculiarities & exquisite uniqueness that includes an additional effort of involving the massive youth population into its activities.</p>
                  </div>
              </div>
          </div>
          <div class="footer__copyright">
              <div class="row">
                  <div class="col-lg-7 col-md-7">
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      <p class="footer__copyright__text">Copyright &copy;<script>
                          document.write(new Date().getFullYear());
                      </script> All rights reserved | OYE India
                  </p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </div>
              <div class="col-lg-5 col-md-5">
                  <ul class="footer__copyright__widget">
                      <li><a href="http://www.oyeindia.org">Terms & Use</a></li>
                      <li><a href="http://www.oyeindia.org">Privacy Policy</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-switch"><i class="icon_close"></i></div>
      <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Search here.....">
      </form>
  </div>
</div>
<!-- Search model end -->
<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>
