<%-include("partials/header")-%>

<br><br><br><br><br>

<div class="card" style="width:50% ">
  <h3 class="card-header">Select a Ministry to view it's Grievances</h3>
  <br><br>
<div class="row">
  <a href="/organization-emp/post">
  <div class="col-lg-4 col-md-3 col-sm-6 lodgeMain">
    <div class="card" style="width: 11.5rem;">
    <img class="card-img-top" src="/img/dpost.png" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Posts (D/o Telecom)</h5>
    <p class="card-text"></p>
    </div>
    </div>

    </div>
</a>
<a href="/organization-emp/health">
    <div class="col-lg-4 col-md-3 col-sm-6 lodgeMain">

      <div class="card" style="width: 11.5rem;">
      <img class="card-img-top" src="/img/dhlth.png" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">Health & Family Welfare</h5>
      <p class="card-text"></p>
      </div>
      </div>

      </div>
</a>
<a href="/organization-emp/external_affair">
      <div class="col-lg-4 col-md-3 col-sm-6 lodgeMain">

        <div class="card" style="width: 11.5rem;">
        <img class="card-img-top" src="/img/meapd.png" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">External Affairs</h5>
        <p class="card-text"></p>
        </div>
        </div>

        </div>
</div>
</a>


<div class="row">
  <a href="/organization-emp/banking">
  <div class="col-lg-4 col-md-3 col-sm-6 lodgeMain">

    <div class="card" style="width: 11.5rem;">
    <img class="card-img-top" src="/img/deabd.png" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Banking (Financial Services)</h5>
    <p class="card-text"></p>
    </div>
    </div>

    </div>
</a>

<a href="/organization-emp/insurance">

    <div class="col-lg-4 col-md-3 col-sm-6 lodgeMain">

      <div class="card" style="width: 11.5rem;">
      <img class="card-img-top" src="/img/deaid.png" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">Insurance (Financial Services)</h5>
      <p class="card-text"></p>
      </div>
      </div>

      </div>
</a>

<a href="/organization-emp/telecoms">
      <div class="col-lg-4 col-md-3 col-sm-6 lodgeMain">

        <div class="card" style="width: 11.5rem;">
        <img class="card-img-top" src="/img/dotel.png" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Tele-communications (D/o Telecom)</h5>
        <p class="card-text"></p>
        </div>
        </div>

        </div>
</div>
</a>

<div class="row">
  <a href="/organization-emp/petroleum">
  <div class="col-lg-4 col-md-3 col-sm-6 lodgeMain">

    <div class="card" style="width: 11.5rem;">
    <img class="card-img-top" src="/img/mpang.png" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Petroleum & Natural Gas</h5>
    <p class="card-text"></p>
    </div>
    </div>

    </div>
  </a>
  <a href="/organization-emp/schooledu">
    <div class="col-lg-4 col-md-3 col-sm-6 lodgeMain">

      <div class="card" style="width: 11.5rem;">
      <img class="card-img-top" src="/img/dosel.png" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">School Education & Literacy</h5>
      <p class="card-text"></p>
      </div>
      </div>

      </div>
  </a>

  <a href="/organization-emp/road">
      <div class="col-lg-4 col-md-3 col-sm-6 lodgeMain">

        <div class="card" style="width: 11.5rem;">
        <img class="card-img-top" src="/img/morth.png" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Road Transport & Highways</h5>
        <p class="card-text"></p>
        </div>
        </div>

        </div>
  </a>
</div>





<div class="card" style="width: 11.5rem;">
<img class="card-img-top" src="/img/others.png" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Others</h5>
<p class="card-text"></p>
</div>
</div>


</div>
<%# <span class="select2-container select2-container--default select2-container--open" style="top: 344.437px; left: 664.475px;">
  <span class="select2-dropdown select2-dropdown--above" dir="ltr" style="width: 595.275px;">
    <span class="select2-search select2-search--dropdown">
      <input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" role="textbox">
</span>
<span class="select2-results">
  <ul class="select2-results__options" role="tree" id="select2-Category_2-results" aria-expanded="true" aria-hidden="false">
    <li class="select2-results__option" role="treeitem" aria-selected="true" data-select2-id="25">Please select main category</li>
    <li class="select2-results__option" id="select2-Category_2-result-f6pf-657" role="treeitem" aria-selected="false" data-select2-id="select2-Category_2-result-f6pf-657">Hospitals</li>
    <li class="select2-results__option" id="select2-Category_2-result-sv9w-658" role="treeitem" aria-selected="false" data-select2-id="select2-Category_2-result-sv9w-658">Medicines</li>
    <li class="select2-results__option" id="select2-Category_2-result-7c0t-659" role="treeitem" aria-selected="false" data-select2-id="select2-Category_2-result-7c0t-659">CGHS Health Centres</li>
    <li class="select2-results__option" id="select2-Category_2-result-bvkv-660" role="treeitem" aria-selected="false" data-select2-id="select2-Category_2-result-bvkv-660">Medical Education</li>
    <li class="select2-results__option select2-results__option--highlighted" id="select2-Category_2-result-h67l-661" role="treeitem" aria-selected="false" data-select2-id="select2-Category_2-result-h67l-661">Financial Assistance for Medical Treatment</li>
    <li class="select2-results__option" id="select2-Category_2-result-exyr-662" role="treeitem" aria-selected="false" data-select2-id="select2-Category_2-result-exyr-662">Health Schemes</li>
    <li class="select2-results__option" id="select2-Category_2-result-bgri-663" role="treeitem" aria-selected="false" data-select2-id="select2-Category_2-result-bgri-663">Public Health</li>
    <li class="select2-results__option" id="select2-Category_2-result-ajv1-664" role="treeitem" aria-selected="false" data-select2-id="select2-Category_2-result-ajv1-664">Food Regulation</li>
    <li class="select2-results__option" id="select2-Category_2-result-8ems-665" role="treeitem" aria-selected="false" data-select2-id="select2-Category_2-result-8ems-665">Online Health Services</li>
    <li class="select2-results__option" id="select2-Category_2-result-81tx-666" role="treeitem" aria-selected="false" data-select2-id="select2-Category_2-result-81tx-666">Policy Matters
    </li>
    <li class="select2-results__option" id="select2-Category_2-result-kn00-667" role="treeitem" aria-selected="false" data-select2-id="select2-Category_2-result-kn00-667">MoHFW Employee Related</li>
    <li class="select2-results__option" id="select2-Category_2-result-ezm0-668" role="treeitem" aria-selected="false" data-select2-id="select2-Category_2-result-ezm0-668">Other</li>
  </ul>
</span>
</span>
</span> %>
  <%# <form action="cmplaint.php" method="POST" class="formalign">
			<fieldset>
				<h2 class="comptype">Type of complaint</h2>
				<hr class="linewid">
				<div>
				<div>
					<input id="Field5_0" name="type" type="radio" value="murder" tabindex="1">
					<label class="choice" for="Field5_0">Murder/Homicide</label>
				</div>
				<div>
					<input id="Field5_1" name="type" type="radio" value="domestic" tabindex="2">
					<label class="choice" for="Field5_1">Domestic Violence</label>
				</div>
				<div>
					<input id="Field5_2" name="type" type="radio" value="sexual" tabindex="3">
					<label class="choice" for="Field5_2">Sexual Harassment</label>
				</div>
				<div>
					<input id="Field5_3" name="type" type="radio" value="assault" tabindex="4">
					<label class="choice" for="Field5_3">Assault/Violence</label>
				</div>
				<div>
					<input id="Field5_4" name="type" type="radio" value="theft" tabindex="5">
					<label class="choice" for="Field5_4">Theft/Robbery</label>
				</div>
				</div>
			</fieldset>
			<div>
				<label class="desc" id="title4" for="Field4">Any other? Please Specify!</label>
				<div>
					<textarea id="Field4" name="other" spellcheck="true" rows="2" cols="30" tabindex="6"></textarea>
				</div>
			</div>
<!--			<br><br><br><br>-->
			<div>
			<fieldset>
				<h2 id="title6" class="comptype">Assistance Required</h2>
				<hr class="linewid">
				<div>
					<input id="Field6" name="medical" type="checkbox" value="First Choice" tabindex="8">
					<label class="choice" for="Field6">Medical</label>
				</div>
				<div>
					<input id="Field7" name="police" type="checkbox" value="Second Choice" tabindex="9">
					<label class="choice" for="Field7">Police</label>
				</div>
				<div>
					<input id="Field8" name="counselling" type="checkbox" value="Third Choice" tabindex="10">
					<label class="choice" for="Field8">Counselling</label>
				</div>
			</fieldset>
			</div>
			<div>
				<h2 id="title6" class="comptype">Event Details</h2>
				<hr class="linewid">
				<div>
					<textarea id="Field4" name="details" spellcheck="true" rows="5" cols="50" tabindex="7" placeholder="Enter Details.."></textarea>
				</div>
			</div>
			<div>
				<label class="essdetails" id="title1" for="Field1">Full Name</label>
				<hr class="linewid">
				<div>
					<input id="Field1" name="name" type="text" class="field text fn" value="" size="30" tabindex="9">
				</div>
			</div>

			<div>
				<label class="essdetails" id="title3" for="Field3">Email</label>
				<hr class="linewid">
				<div>
					<input id="Field3" name="email" type="email" spellcheck="false" value="" size="30" maxlength="255" tabindex="10">
				</div>
			</div>
			<div class="submitComplaint">
            <input type="submit" class="btn btn-danger subbtn" name='submit'  value='CryOut!'>
		    </div>
		</form> %>
</div>

<%-include("partials/footer")-%>
