<!DOCTYPE html>
<html>
<head>
  <title>OYE</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/animate.css">
  <link href="css/stylesheet.css" rel="stylesheet">

</head>
<style media="screen">

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  margin: auto;
}

.card-header {
  background-color: #87dfd6;
    height: 6rem;
    padding: 15px;
}

.card-body {
  padding: 20px;

}

.card-simple{
   border-radius: 5px;
  background-color: #cbeaed;
  transition: 0.3s;
  width: 80%;
  height: 4rem;
  margin: auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.card .card-title {
  font-weight: bold;
  text-align: center;
}
.card .row {
  margin: 35px 0;
}

body{
  width:100vw;
  height:100vh;
  background-color:#efefff;
}
.msgcard {
	box-shadow: 0 0px 25px rgba(0, 0, 0, .2);
}

.chat-log {
	overflow: auto;
	height: calc(65vh);
}

.chat-log_item {
	background: #eaeaea;
	padding: 10px;
	margin: 0 auto 10px;
	max-width: 95%;
	min-width: 25%;
	float: left;
	font-size: 13px;
	border-radius: 0 20px 20px 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	clear: both;
}

.chat-log_item.chat-log_item-own {
	float: right;
	background: #D5F4E7;
	text-align: right;
	margin-right: 0.7rem;
  border-radius: 20px 0 20px 20px;
}

.chat-form {
	background: #DDDDDD;
	padding: 40px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.chat-log_author {
	margin: 0 auto 0em;
	font-size: 12px;
	font-weight: bold;
}

.chat-log_time {
	margin: 0 auto .5em;
	direction: rtl;
	font-size: 12px;
	opacity: 0.5;
}
</style>

<body>
  <br><br>


<div class="col col-md-10 col-lg-9 col-xl-8 mx-auto my-auto">
  <div class="card my-5 msgcard">
    <div class="card-body">
      <div class="container-fluid">
        <div id="messages" class="chat-log">




        </div>
      </div>
    </div>
    <div class="card-footer border-0 bottom-rounded z-depth-0" style="background-color: #97E3C2">
      <div class="row">
        <div class="col col-md-10 col-lg-9 mx-auto">
          <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-9 align-self-center my-0">
              <div class="row d-flex align-self-center justify-content-center">
                <div class="col-12 d-flex">
                  <div class="form-group col-12 my-0 mx-0">
                    <textarea rows="2" id = "message" name="content" placeholder="Enter your Message" class="form-control textarea resize-ta"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 d-flex align-self-center justify-content-center justify-content-md-end my-0">
              <div class="md-form my-1">
<button onClick="scrollDown()" type="button" id="send" class="btn btn-success" style="position:relative;left:35px;top:15px;">Send Message</button>
<input type="text" id="userName" style="visibility:hidden" name="" value="<%= userid %>">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
   var socket = io();
    $(() => {
        $("#send").click(()=>{
            sendMessage({name: $("#userName").val(), message: $("#message").val()});
        })

        getMessages()
    })

    socket.on('message', addMessages)

    function addMessages(message){
        // $("#messages").append(`<div class="card">  <h4> ${message.name} </h4> <p> ${message.message} </p> </div>`)
        $("#messages").append(`<div class="chat-log_item chat-log_item z-depth-0">
<div class="row justify-content-end mx-1 d-flex">
  <div class="col-auto px-0">
    <span class="chat-log_author">
      ${message.name}
    </span>
  </div>
  <div class="col-auto px-0">
  </div>
</div>
<hr class="my-1 py-0 col-8" style="opacity: 0.5">
<div class="chat-log_message">
  <p>${message.message}
  </p>
</div>
<hr class="my-1 py-0 col-8" style="opacity: 0.5">
</div>`)

    }

    function getMessages(){
      $.get('http://localhost:3000/messages/<%= Ministry %>', (data) => {
        data.forEach(addMessages);
      })
    }

    function sendMessage(message){
      $.post('http://localhost:3000/messages/<%= Ministry %>', message)
    }
    function scrollDown() {
  $('#messages_container').animate({scrollTop:$('#messages_container').prop('scrollHeight')}, 1000);
}
</script>
</body>
</html>
