<%- include("partials/header")-%>

  <!-- Header End -->

  <!-- Hero Section Begin -->
  <section class="hero set-bg" data-setbg="img/2.png">
      <div class="container-fluid">
          <div class="hero__text">
              <img src="img/icon/hi.png" alt="">
              <h5>Welcome to OYE</h5>
              <h2>ONE STOP PORTAL</h2>
              <p>Submit your Grievances, participate on forums or support us.</p>
          </div>
      </div>
  </section>

  <!-- Services Section Begin -->
  <section class="services spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-title">
                      <h2 class="headabout wow fadeInUp" data-wow-duration="2s">WHAT DO WE DO?</h2>
                      <img src="img/icon/ti.png" alt="">
                  </div>
              </div>
          </div>
          </div>

  </section>

  <section id="about">
      <%# <h2 class="headabout wow fadeInUp" data-wow-duration="2s">WHAT DO WE DO?</h2>  %>
      <div class="container">
       <div class="row">
          <div class="col-sm-4 abouthead wow fadeInUp" data-wow-duration="2s">

            <a href="/FileAComplaint">
             <img src="img/i31.png">
              <h3>File a Complaint</h3>
              <p class="lodge">Lodge a complaint if you wish to report your grievance for your particular ministry and track your progress.</p>
              </a>
           </div>
           <div class="col-sm-4 abouthead wow fadeInUp" data-wow-duration="2s">
               <a href="/chat">
               <img src="img/discuss1.png" class="help">
               <h3>Discussion Forum</h3>
              <p class="lodge">Wish to discuss your problems with someone? Wish to ask for advice? We provide the perfect platform for this.</p>
               </a>
           </div>
           <div class="col-sm-4 abouthead wow fadeInUp" data-wow-duration="2s">
               <a href="/help">
               <img src="img/i21.png" class="help1">
               <h3>Want to Help?</h3>
              <p class="lodge">We provide a portal for you to connect with us to help in any way possible. Any gesture is appreciated.</p>
               </a>
           </div>
       </div>
        </div>
    </section>
  <!-- Services Section End -->



<%-include("partials/footer")-%>
